[submodule "src/simpleZigbee"]
	path = src/simpleZigbee
	url = https://github.com/hemantkapoor/simpleZigbee.git
[submodule "src/simpleSerial"]
	path = src/simpleSerial
	url = https://github.com/hemantkapoor/simpleSerial.git
[submodule "src/simpleDebug"]
	path = src/simpleDebug
	url = https://github.com/hemantkapoor/simpleDebug.git
